<div id="sidebar">
  <!-- サイドバーここから -->
  <p class="side-title">カテゴリ</p>
  <ul class="localnavi">
    <li><a href="#">人物</a></li>
    <li><a href="#">動物</a></li>
    <li><a href="#">イベント</a></li>
    <li><a href="#">スポーツ</a></li>
    <li><a href="#">モノ</a></li>
    <li><a href="#">自然・風景</a></li>
    <li><a href="#">動画</a></li>
  </ul>
  <!-- サイドバーここまで -->
</div>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="body3.jpg"><img src="body3.jpg" alt="鉄道"></a>
      <div class="caption">
        <h3>タイトル</h3>
        <p>これはサンプルです</p>
      </div>
    </div>
  </div>
</div>