<div class="production-main">
<!-- production us -->
  <p class = "description">カメラ好きが、お気に入り写真をシェアするサイトです</p>

  <div class = "processing">
    <a href="https://www.adobe.com/jp/products/photoshop.html#x" class="btn-real">
    <i class="icon fa fa-search"></i></a>
    <h4 id = "subject">写真を加工する</h4>
    <p class = "introduction">写真を撮りに行き、PhotoShopで加工してみましょう。</p>
  </div>

  <div class = "registration">
    <a href="/photolist" class="btn-real">
    <i class="icon fa fa-thumbs-o-up"></i></a>
    <h4 id = "subject">写真を公開する</h4>
    <p class = "introduction">加工済のお気に入り写真を選んだら早速公開しましょう。</p>
  </div>

  <div class = "share">
    <a href="/share" class="btn-real">
    <i class="icon fa fa-camera-retro"></i></a>
    <h4 id = "subject">写真をシェアする</h4>
    <p class = "introduction">写真をシェアしてみんなに教えてあげましょう。</p>
  </div>

  <!-- /production us -->
</div>