<div class="production-main">
<!-- production us -->
  <p class = "description">カメラ好きが、お気に入り写真を登録してシェアするサイトです</p>

  <div class = "choice">
    <i class="icon fa fa-search"></i> 
    <h4>写真を選ぶ</h4>
    <p>各カテゴリ毎にあなた自身が撮影したお気に入り写真を選びましょう。</p>
  </div>

  <div class = "registration">
    <i class="icon fa fa-thumbs-o-up"></i>
    <h4>写真を登録する</h4>
    <p>お気に入り写真を選んだら早速登録してみましょう。</p>
  </div>

  <div class = "share">
    <i class="icon fa fa-camera-retro"></i>
    <h4>写真をシェアする</h4>
    <p>写真をシェアしてみんなに教えてあげましょう。</p>
  </div>

  <!-- /production us -->
</div>