<div class="btn-social-phone">
 <!-- production us -->
 <p class = "description">登録した写真をシェアしてみよう！</p>

 <!--以下twitter-->
 <div class="iphone">
 <a href="https://twitter.com/login?lang=ja">
   <span class="fa-stack">
   <i class="fa fa-tablet fa-stack-2x"></i>
   <i class="fa fa-twitter fa-stack-1x btn-social-phone-twitter"></i>
   </span>
 </a>
 <!--以下facebook-->
 <a href="https://ja-jp.facebook.com/">
   <span class="fa-stack">
   <i class="fa fa-tablet fa-stack-2x"></i>
   <i class="fa fa-facebook fa-stack-1x btn-social-phone-facebook"></i>
   </span>
 </a>
 <!--以下instagram-->
 <a href="https://www.instagram.com/?hl=ja">
   <span class="fa-stack">
   <i class="fa fa-tablet fa-stack-2x"></i>
   <i class="fa fa-instagram fa-stack-1x btn-social-phone-instagram"></i>
   </span>
 </a>
 </div>
</div>