<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">One Piece</h1>
				<h2 class="subtitle">Register your own "one piece" for each scene.</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
     各シーン毎にあなただけの最高の一枚を登録して、皆に教えてあげましょう。
     カメラ仲間同士で写真を見せ合い、腕を競い合うのも良いかもしれません。
    </h3>

    <h2 class="word">
    さぁ、あなただけの「たった一枚」を。
    </h2>

    <p><a href="/signup/" class="btn btn-default btn-lg">Signup</a></p>
    
   </div>
  </div>
 </div>
</section>
