/* posts/index ================================ */
.posts-index {
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/IMG_3329.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.posts-index-item {
  font-size: 20px;
  margin-bottom: 8px;
  padding: 10px;
  min-height: 40px;
  border: 1px solid #d8dadf;
  background-color: black;
  color: white;
  resize: none;
  opacity: 0.5;
  }
  
.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}
  
/* posts/show ================================ */
.posts-show {
  top: 0;
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;
}

.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: black;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
  color: white;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.dropmenu {
position:absolute;
top:730px;
bottom:0;
right:30px;
margin: 0px;
padding: 0px 0px 0px 15px;
}

.dropmenu#myuser {
width: 125px;
display: inline-block;
list-style-type: none;
position: relative;
background-color: #dddd00;
color: white;
line-height: 25px;
text-align: center;
text-decoration: none;
font-weight: bold;
display: block;
}

.dropmenu li:hover {
color: #dddd00;
}

.dropmenu ul {
display: none; 
margin: 20px 0px;
padding: 0px;
position: absolute;
}

.dropmenu li:hover ul {
display: block;
}

/* share */
.btn-social-phone .iphone {
  text-align: center;
}
.btn-social-phone p {
  font-size: 27px;
  font-family: 'Raleway';
  font-weight: 200;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 29px;
  letter-spacing: 0.4px;
  padding: 200px 30px 0px 30px;
}
.btn-social-phone a {
  text-decoration: none;
  line-height: 300px;
  font-size: 50px;
  margin: 8px;
}
.btn-social-phone .fa-stack-2x {
  color: white;
  font-size:140px;
}
.btn-social-phone .fa-stack-1x{
  display: inline-block;  
  position: relative;
  font-size: 60px;
  top: 10px;
  transition: .4s;
}
.btn-social-phone-twitter {
  color: #74c1f8;
}
.btn-social-phone-facebook {
  color: #668ad8;
}
.btn-social-phone-instagram {
  color: #f79393;
}
.btn-social-phone a:hover .fa-stack-1x {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

/* posts/new ================================ */
.posts-new {
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 182px;
  border: 1px solid rgb(216, 218, 223);
  background-color: black;
  color: white;
  resize: none;
  opacity: 0.8;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.8;
}
